ANKR_KEY=your_ankr_api_key

WALLET=0x46b353667fd7d846af3bbeda6584b0e5b883d3de

POSTGRES_DB=polymarket
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5435

START_BLOCK=80813428
CHUNK_SIZE=100
